#heart {
    font-size: 40px;
    position: relative;
    background-color: transparent;
    border-width: 0;
}

#heart:after {
    content: "♥";
    position: absolute;
    top: 0;
    left: 6px;
    opacity: 1;
    transition: 0s all ease;
}

#heart:hover:after {
    transform: scale(2);
    -webkit-transform: scale(2);
    opacity: 0;
    transition: .8s all ease;
}